header,footer {
  height: 100px;
  background-color: green;
  text-align: center;
}

#finalm {
  height: 500px;
  width: 75%;
  left: 12.5%;
}

.title,.legend {
  text-align: center;
}

.blue {
  color: blue;
}

.pink {
  color: pink;
}

.thankyou {
  width: 50%;

}
